@font-face {
  font-family: 'myfont';
  src: url(./resources/Mooli-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'myfont', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(./resources/background.jpg);
  background-size: 100vw 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20vh;
  place-items: center;
}

#cite {
  position: fixed;
  bottom: 4px;
  right: 4px;
  color: #083344;
  font-size: 1vh;
}

#cite > a {
  text-decoration: none;
  color: #083344;
  font-weight: bold;
}

#middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  gap: 16px;
}

#form {
  margin-top: 16px;
  position: relative;
}

#searchbar {
  appearance: none;
  text-align: center;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #155e75;
  color: #155e75;
  font-size: 16px;
}

#searchbar::placeholder {
  color: #155e75;
}

#search {
  position: absolute;
  right: 0;
  bottom: 2px;
}

#locationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #0e7490;
}

#location {
  font-size: 4vh;
}

#localtime {
  font-size: 2vh;
}

#astronomy {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #083344;
  font-size: 1.3vh;
  text-align: center;
}

#sun {
  display: flex;
  gap: 24px;
  font-size: 1.4vh;
}

#daysforecast,
#hoursforecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1vw;
  width: 30vw;
}

#forecastday,
.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2px;
  color: #155e75;
}

#dayforecastdate,
.visible > div:nth-child(1) {
  font-size: 2.5vh;
}

#dayforecastcondition,
.visible > div:nth-child(2) {
  font-size: 1.6vh;
}

#dayforecasttemp,
.visible > div:nth-child(3) {
  font-size: 1.3vh;
}

.hidden {
  display: none;
}

.visible {
  color: #0e7490;
}

#current {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0e7490;
  padding-top: 15vh;
}

#currenttitle {
  font-size: 4vh;
}

#currentcondition {
  font-size: 3vh;
}

#currenthumidity {
  font-size: 1.5vh;
}

#currenttemp {
  font-size: 2vh;
  text-align: center;
}

#tempchange {
  position: absolute;
  font-size: 2vh;
  left: -24px;
  bottom: 0;
  color: #155e75;
  cursor: pointer;
}

#hoursforecast {
  position: relative;
}

#controlbuttons {
  position: absolute;
  top: -2vh;
  display: flex;
  gap: 2px;
}

#controlbuttons img {
  height: 1.5vh;
  cursor: pointer;
}
